*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Cor de fundo suave */
}

.container {
    margin-top: 30px;
    max-width: 1280px; /* Largura máxima da página */
}

.car-image {
    max-width: 100%; /* Para que a imagem não ultrapasse a largura da coluna */
    height: auto;
}

.car-details {
    border: 1px solid #ced4da; /* Borda suave */
    border-radius: 5px;
    padding: 20px;
    background-color: #fff; /* Fundo branco para os detalhes do carro */
    margin-top: 20px;
}

.car-title {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Cor do texto */
}

.car-price {
    font-size: 20px;
    color: #28a745; /* Cor verde para o preço */
}

.car-description {
    margin-top: 15px;
    color: #666; /* Cor do texto mais suave para a descrição */
}

.car-specs {
    margin-top: 20px;
}

.spec-title {
    font-weight: bold;
    color: #007bff; /* Azul para os títulos das especificações */
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40; /* Cor de fundo escura */
    color: #fff; /* Texto claro */
    margin-top: 30px;
}

.rating {
    margin-top: 10px;
}

.gallery img {
    max-width: 100%; /* Limita a largura das imagens na galeria */
    height: auto;
}
